/* -------------------------------------------------------------- */
/* CSS for homepage */
/* -------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* General */
/* -------------------------------------------------------------- */

/* Body is a built-in tag from HTML */
body {
	margin:      0;
	width:       100%;
	height:      100%;
  font-family: monospace;       /* options: monospace, sans-serif, serif */
  color:       white;         /* sets general text color */
	overflow:    hidden;          /* options: hidden, scroll, auto, visible */
	background:  #111;}         /* black: #111 */

/* Canvas is a built-in tag from HTML */
canvas {
	width:           100vw;
	height:          100vh;
	display:         block;      /* options: block, inline, inline-block */
	image-rendering: pixelated;} /* options: auto, crisp-edges, pixelated */


/* -------------------------------------------------------------- */
/* Cursors */
/* -------------------------------------------------------------- */

/* General site cursor. */
body,
a,
button {
	cursor: url("../images/cup_water_point.cur") 4 3, auto;}
body:active,
a:active,
button:active {
	cursor: url("../images/cup_water_click.cur") 4 3, auto;}

/* Entryway brush cursors. */
/* Sand brush */
body.brush-sand,
body.brush-sand canvas,
body.brush-sand button {
	cursor: url("../images/cup_sand_point.cur") 4 3, auto;}
body.brush-sand #material-selector button {
	cursor: url("../images/cup_sand_click.cur") 4 3, auto;}

body.brush-sand:active,
body.brush-sand canvas:active,
body.brush-sand button:active {
	cursor: url("../images/cup_sand_click.cur") 4 3, auto;}
body.brush-sand #material-selector button:active {
	cursor: url("../images/cup_sand_click.cur") 4 3, auto;}

/* Water brush */
body.brush-water,
body.brush-water canvas,
body.brush-water button {
	cursor: url("../images/cup_water_point.cur") 4 3, auto;}
body.brush-water #material-selector button:active {
	cursor: url("../images/cup_water_point.cur") 4 3, auto;}

body.brush-water:active,
body.brush-water canvas:active,
body.brush-water button:active {
	cursor: url("../images/cup_water_click.cur") 4 3, auto;}
body.brush-water #material-selector button {
	cursor: url("../images/cup_water_click.cur") 4 3, auto;}

/* Bees brush */
body.brush-bees,
body.brush-bees canvas,
body.brush-bees button {
	cursor: url("../images/cup_bees_point.cur") 4 3, auto;}
body.brush-bees #material-selector button:active {
	cursor: url("../images/cup_bees_point.cur") 4 3, auto;}

body.brush-bees:active,
body.brush-bees canvas:active,
body.brush-bees button:active {
	cursor: url("../images/cup_bees_click.cur") 4 3, auto;}
body.brush-bees #material-selector button {
	cursor: url("../images/cup_bees_click.cur") 4 3, auto;}

/* Buttons */
body.brush-sand.over-canvas-button canvas {
	cursor: url("../images/cup_sand_click.cur") 4 3, auto;}
body.brush-water.over-canvas-button canvas {
	cursor: url("../images/cup_water_click.cur") 4 3, auto;}
body.brush-bees.over-canvas-button canvas {
	cursor: url("../images/cup_bees_click.cur") 4 3, auto;}

/* Mobile fix */
#sand-screen {
	touch-action: none;}


/* -------------------------------------------------------------- */
/* Material selector */
/* -------------------------------------------------------------- */
#material-selector {
	position:      fixed;
	display:       flex;                                  /* allows button alignment */
	top:           1rem;                                  /* position from the top */
	left:          1rem;                                  /* position from the left */
	gap:           0.1rem;                                /* gap between buttons */
	padding:       0.1rem;                                /* padding between buttons and border */
	background:    rgba(0, 0, 0, 0.45);                 /* background color */
	border:        1px solid rgba(255, 255, 255, 0.25); /* options: solid, dashed, dotted */
	border-radius: 2px;}                                  /* 1 for box, 999px for pill */

#material-selector button {
	border:        0;                                     /* 0 for no border */
	border-radius: 2px;                                   /* 1 for box, 999px for pill */
	padding:       0.1rem 0.3rem;                         /* size of the entire box */
	font:          inherit;                               /* options: inherit, normal, bold, italic */
	font-size:     0.5rem;}

/* -------------------------------------------------------------- */