/* -------------------------------------------------------------- */
/* CSS for homepage */
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
/* Entry page styling */
/** Body is a built-in tag from HTML */
body {
	margin:     0;
	width:      100%;
	height:     100%;
	overflow:   hidden;   /* Options: hidden, scroll, auto, visible */
	background: #111;   /* Black: #111 */
}

/** Canvas is a built-in tag from HTML */
canvas {
	display:         block;     /* Options: block, inline, inline-block */
	width:           100vw;
	height:          100vh;
	image-rendering: pixelated; /* Options: auto, crisp-edges, pixelated */
}

/* -------------------------------------------------------------- */
/* Cursors */
body.brush-sand,
body.brush-sand canvas,
body.brush-sand button {
	cursor: url("../images/cup_sand_point.cur") 4 3, auto;
}

body.brush-sand #material-selector button {
	cursor: url("../images/cup_sand_click.cur") 4 3, auto;
}

body.brush-sand:active,
body.brush-sand canvas:active,
body.brush-sand button:active {
	cursor: url("../images/cup_sand_click.cur") 4 3, auto;
}

body.brush-sand #material-selector button:active {
	cursor: url("../images/cup_sand_click.cur") 4 3, auto;
}

body.brush-water,
body.brush-water canvas,
body.brush-water button {
	cursor: url("../images/cup_water_point.cur") 4 3, auto;
}

body.brush-water #material-selector button:active {
	cursor: url("../images/cup_water_point.cur") 4 3, auto;
}

body.brush-water:active,
body.brush-water canvas:active,
body.brush-water button:active {
	cursor: url("../images/cup_water_click.cur") 4 3, auto;
}

body.brush-water #material-selector button {
	cursor: url("../images/cup_water_click.cur") 4 3, auto;
}

/* Mobile fix */
#sand-screen {
	touch-action: none;
}

/* -------------------------------------------------------------- */
/* Old entry page styling */
body {
  margin: 0;
  font-family: monospace;
  background: #111;
  color: white;
}

.entry-page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background:
    radial-gradient(circle, #333 0%, #111 60%);
}

.entry-box {
  text-align: center;
  border: 1px solid white;
  padding: 2rem;
  background: black;
}

.enter-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}

.enter-button:hover {
  background: white;
  color: black;
}

/* -------------------------------------------------------------- */